@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
.block__one {
	margin: 0px auto 200px;
	max-width: 1025px;
}
h3{
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #5D62B5;
	display: inline-block;
	margin-bottom: 33px;
}
h3::before{
	content: "";
	background: url('../img/Mark.svg') 0px -3px no-repeat;
	width: 17px;
	height: 24px;
	display: inline-block;
	margin-right: 16px;
	vertical-align: bottom;
}
h2{
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #000000;
	margin-bottom: 68px;
}
.one-box {
	display: inline-block;
	font-size: 0px;
}
.one-item {
	display: inline-block;
}
.one-item:not(:last-child){
	margin-right: 20px;
}
.one-img{
	margin-right: 23px;
}
.one-unit {
	display: inline-block;
}
.minititle {
	font-weight: 900;
	font-size: 19px;
	line-height: 26px;
	color: #F2726F;
	margin-bottom: 20px;
}
.text{
	max-width: 235px;
	font-size: 16px;
}
.block__two {
	text-align: center;
	background: url('../img/two/line.svg') right top no-repeat;
	margin-bottom: 200px;
}
.two-two {
	text-align: left;
	max-width: 1020px;
	margin: 0px auto;
}
.two-box {
	font-size: 0px;
	margin-bottom: 66px;
}
.two-box-box{
	margin-bottom: 24px;
}
.two-item {
	padding: 50px 43px;
	max-width: 324px;
	display: inline-block;
	text-align: center;
	background-color: #fff;
	border-radius: 20px;
}
.two-item:not(:last-child){
	margin-right: 24px;
}
.two-item:hover{
	box-shadow: 0px 0px 30px 0px rgb(134, 134, 134);
}
.two-img {
	margin-bottom: 33px;
}
.two-button{
	width: 145px;
	line-height: 48px;
	text-align: center;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #fff;
	border-radius: 8px;
	display: inline-block;
	background-color: #F2726F;
}
.block__three{
	background-color:  #29C3BE;
	width: 100%;
	font-size: 0px;
}
.three-cont{
	background: url('../img/three/Back.svg') right top no-repeat;
	max-width: 1020px;
	margin: 0px auto;
}
.three-top{
	margin-bottom: 79px;
}
.three-titles{
	max-width: 411px;
	display: inline-block;
	margin-right: 111px;
}
.block__three h3{
	margin-bottom: 32px;
	color: #fff;
}
.block__three h3::before{
	background: url('../img/three/white-mark.svg') 0px -3px no-repeat;
}
.block__three h2{
	margin-bottom: 0px;
	color: #fff;
}
.three-picture {
	border-radius: 40px;
	margin-top: -80px;
	vertical-align: bottom;
	text-align: right;
	max-width: 100%;
}
.three-box{
	margin-bottom: 134px;
}
.three-item {
	display: inline-block;
}
.three-item:not(:last-child){
	margin-right: 24px;
}
.three-img {
	margin-right: 11px;
}
.three-unit {
	display: inline-block;
	width: 150px;
}
.three-minititle {
	color: #fff;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
}
.three-text {
	font-size: 16px;
	color: #5D62B5;
}
.three-down {
	background: #5D62B5;
	border-radius: 20px;
	padding: 45px 70px;
	margin-bottom: -75px;
	display: inline-block;
}
.three-par {
	color: #fff;
	font-weight: 900;
	font-size: 24px;
	line-height: 30px;
	max-width: 558px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 108px;
}
.three-button {
	text-align: center;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	line-height: 48px;
	width: 210px;
	font-weight: 700;
	font-size: 12px;
	color: #fff;
	background: #F2726F;
	border-radius: 8px;
	display: inline-block;
}